---
layout: layouts/home.njk
eleventyNavigation:
  key: Inicio
  order: 1
---

<h1>Escrito por Elena Torró</h1>

<h2>Relatos</h2>

{% set postslist = collections.relatos %}
{% include "postslist.njk" %}
