<section class="news">
  <p>⚠️ ¡Novedades!</p>
  <p>📖 "Señoras galácticas buscan bestias cósmicas" disponible en <a target="_blank" href="https://lektu.com/l/elena-torro/senoras-galacticas-buscan-bestias-cosmicas/20461">Lektu</a></p>
  <details class="news-details">
    <summary>👀</summary>
    <p><a href="https://lektu.com/es_ES/promo/PGJNW7NWOS0GH63O">¡Descuento en formato físico limitado!</a></p>
  </details>
</section>