<section class="news">
  <p>⚠️ ¡Novedades!</p>
  <p>📖 "Señoras galácticas buscan bestias cósmicas" disponible en <a target="_blank" href="https://lektu.com/l/elena-torro/senoras-galacticas-buscan-bestias-cosmicas/20461">Lektu</a></p>
</section>